<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        
        <!--
            <property name="url" value="jdbc:mysql://eyeonz.com/eyeonz0_dropletweet"/>
        -->
        
        <property name="url" value="jdbc:mysql://localhost/eyeonz0_dropletweet"/>
        <property name="username" value="eyeonz0_droplet"/>
        <property name="password" value="1!droplet5%"/>
           

    </bean>
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean" >
        <property name="dataSource" ref="dataSource" />
        <property name="mappingResources">
            <list>
                <value>com/dropletweet/domain/User.hbm.xml</value>
                <value>com/dropletweet/domain/Tweet.hbm.xml</value>
                <value>com/dropletweet/domain/Conversation.hbm.xml</value>
                <value>com/dropletweet/domain/Signup.hbm.xml</value>
            </list>
        </property>
        
        <property name="hibernateProperties" >
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
            </props>
        </property>
    </bean>
    
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="tweetDao" class="com.dropletweet.dao.impl.TweetDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="userDao" class="com.dropletweet.dao.impl.UserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="conversationDao" class="com.dropletweet.dao.impl.ConversationDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="signupDao" class="com.dropletweet.dao.impl.SignupDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>